# format options

--allman false
--binarygrouping 4,8
--closingparen balanced
--commas always
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header ignore
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef outdent
--importgrouping alphabetized
--indent tabs
--indentcase false
--linebreaks lf
--octalgrouping 4,8
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--selfrequired 
--semicolons inline
--stripunusedargs closure-only
--tabwidth 4
--trailingclosures 
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve

# rules
--disable blankLinesAtStartOfScope,unusedArguments,redundantParens
--enable isEmpty

# file options
--exclude Pods
